FastCheckIn/FastCheckIn/Service References/ServiceReference1/WindowsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GuestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ICity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDateofBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGuest_ID" type="xs:int" />
      <xs:element minOccurs="0" name="IName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPhone" type="xs:int" />
      <xs:element minOccurs="0" name="IState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IZip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestData" nillable="true" type="tns:GuestData" />
  <xs:complexType name="ArrayOfGuestData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuestData" nillable="true" type="tns:GuestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuestData" nillable="true" type="tns:ArrayOfGuestData" />
</xs:schema>